@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-mercury text-gray-700;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.article-body {
    @apply
        prose lg:prose-lg
        max-w-none sm:max-w-[65ch] xl:max-w-[75ch]
        mx-auto
        prose-headings:relative
        prose-headings:font-idealSans
        prose-headings:tracking-tight
        prose-headings:text-gray-700
        prose-a:font-normal
        hover:prose-a:text-red-500
        prose-a:decoration-red-500
        prose-a:underline-offset-[2px]
        prose-li:marker:text-red-500
        prose-figcaption:font-idealSans
        prose-figcaption:text-sm
        prose-img:my-0
        prose-pre:my-8 sm:prose-pre:my-6
        prose-pre:-mx-8 sm:prose-pre:mx-0
        lg:prose-pre:p-8
        prose-pre:py-6
        prose-pre:px-8 sm:prose-pre:px-6
        prose-pre:bg-gray-100
        prose-pre:rounded-none sm:prose-pre:rounded-lg lg:prose-pre:rounded-xl
        prose-pre:!leading-relaxed
        prose-pre:font-medium
        prose-pre:text-gray-500
        prose-code:font-medium
        prose-code:before:content-['']
        prose-code:after:content-['']
    ;

    font-feature-settings: "liga" 1;
}

.article-body > p:first-of-type:first-letter {
    @apply float-left mt-[8px] md:mt-3 pr-2 font-idealSans font-semibold text-6xl leading-[0.8] text-gray-700;
}

.article-body > figure img {
    @apply w-full;
}

pre > code.hljs {
    @apply p-0 bg-transparent text-inherit;
}